.create-button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    background: #353b54e0;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.color{
    background-color: antiquewhite;
}
        .seat {
            border-radius:5px;
            background-color: rgb(243, 222, 222);
            margin: 10px;
            margin-top: 30px;
            width: 40px;
            height: 40px;
        }
        
        .clicked {
            border-radius:5px;
            background-color: red;
            color: white;
        }

        .w-btn {
            position: relative;
            border: none;
            display: inline-block;
            padding: 15px 30px;
            border-radius: 15px;
            font-family: "paybooc-Light", sans-serif;
            text-decoration: none;
            font-weight: 600;
            transition: 0.25s;
        }

        .w-btn-outline {
            position: relative;
            padding: 10px;
            border-radius: 10px;
            font-family: "paybooc-Light", sans-serif;
            text-decoration: none;
            font-weight: 600;
            margin: 10px;
            margin-top: 10px;
        }

        .w-btn-red-outline {
            border: 2px solid #ff5f2e;
            color: #333231;
        }
