.create-button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    background: #353b54e0;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.color{
    background-color: antiquewhite;
}
        .seat {
            border-radius:5px;
            background-color: rgb(243, 222, 222);
            margin: 10px;
            margin-top: 30px;
            width: 40px;
            height: 40px;
        }
        
        .clicked {
            border-radius:5px;
            background-color: red;
            color: white;
        }

        .w-btn {
            position: relative;
            border: none;
            display: inline-block;
            padding: 10px 10px;
            border-radius: 10px;
            font-family: "paybooc-Light", sans-serif;
            text-decoration: none;
            font-weight: 600;
            transition: 0.25s;
            margin-top: 20px;
            margin-left: 20px;
        }
        .w-btn-gra1 {
            background: linear-gradient(-45deg, #fdbb2d8e 0%, #ff99cc 100%);
            color: white;
        }
        .w-btn-gra-anim {
            background-size: 400% 400%;
            animation: gradient1 5s ease infinite;
        }
        
        @keyframes gradient1 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes gradient2 {
    0% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}
