.select1 {
  position:absolute;
  left:150px;
  background-color: antiquewhite;
  padding: 50px;
  width: 350px;
}

.select2 {
  position:absolute;
  right:150px;
  background-color: antiquewhite;
  padding: 50px;
  width: 350px;
}

.category {
  margin: 20px  10px;
  }

  .text-light{
    position: absolute;
  }