/* 전체적으로 적용 */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Vujahday Script", "East Sea Dokdo";
}

a {
  text-decoration: none;
}

/* 상품 카드 */
.productList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: darkslategray;
}

.product {
  width: 25%;
  display: inline-block;
  margin-top: 5%;
  margin-bottom: 17.5%;
  width: 270px;
  height: 320px;
  background: #fff;
  box-shadow: 0 5px 15 rgba(0, 0, 0, 25);
  border-radius: 5px;
}

.product .imgbox {
  width: 270px;
  height: 480px;
  box-sizing: border-box;
  border-radius: 5px;
}

.product .imgbox img {
  display: inline-block;
  width: 270px;
  height: 75%;
  margin: auto;
  border-radius: 5px;
}

.details {
  position: relative;
  width: 270px;
  bottom: 8.35%;
  background: #fff;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: 0.5s;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.product:hover .details {
  bottom: 15%;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 1);
}

.product:hover .details span {
  display: block;
  transition: 1s;
}

.details h2 {
  margin: 0%;
  padding: 0%;
  font-size: 24px;
  width: 100%;
}

.details span {
  display: none;
  font-size: 18px;
  color: darkslategray;
  font-weight: normal;
}

.details a {
  display: block;
  padding: 5px;
  color: #fff;
  margin: 15px 0 0;
  background: #ff4faf;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}

.details a:hover {
  color: #fff;
  background: darkslategray;
}

/* 상단 메뉴 일반형 */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
  padding: 8px 12px;
  margin: 0%;
}

.navbar__logo {
  display: flex;
  list-style: none;
  font-size: 24px;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
  font-size: 24px;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li:hover {
  border-radius: 5px;
}

.navbar__icon {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar__icon li {
  padding: 8px 12px;
  padding-left: 0%;
}

.navbar__icon li:hover {
  padding: 8px 12px;
  border-radius: 5px;
}

.navbar__toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  filter: opacity(0.5) drop-shadow(0 0 0 red);
}

/* 하단 메뉴 */
footer {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  flex-direction: column;
  background: antiquewhite;
  position: relative;
  width: 100%;
  height: auto;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
}

footer .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .container .sec {
  margin-right: 30px;
}

footer .container .sec.aboutus {
  width: 25%;
}

footer .container .sec.aboutus h2 {
  position: relative;
  font-weight: 500;
  margin-bottom: 24px;
}

footer .container .sec.aboutus h2:before {
  content: "";
  position: absolute;
  bottom: -5vh;
  left: 0%;
}

footer p {
  color: #555;
}

.link {
  display: flex;
  margin-top: 20px;
}

.link li {
  list-style: none;
}

.link li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-top: 2vh;
  margin-bottom: 0%;
  text-decoration: none;
  border-radius: 10%;
}

.link a:hover {
  background: #e86;
}

footer .quickLink h2 {
  margin-bottom: 24px;
}

footer .quickLink li {
  list-style: none;
  text-align: center;
  align-items: center;
  margin-bottom: 12px;
}

.contact {
  width: 20%;
  margin-right: 0 !important;
}

.contact h2 {
  margin-bottom: 24px;
}

.contact .info {
  position: relative;
}

.contact .info li {
  display: flex;
  margin-bottom: 24px;
}

.contact .info li span {
  margin-right: 10px;
}

.contact .info li a {
  text-decoration: none;
}

.contact .info li a:hover {
  color: #e86;
}

.copyrightText {
  width: 100%;
  background: antiquewhite;
  text-align: center;
  padding: 30px;
}

/* 반응형 상단메뉴 */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__menu li {
    width: 100%;
    text-align: center;
  }

  .navbar__icon {
    display: none;
    flex-direction: column;
    justify-content: 100%;
    width: 100%;
  }

  .navbar__icon li {
    width: 100%;
    text-align: center;
  }

  .navbar__toggleBtn {
    display: block;
  }

  .navbar__menu.active,
  .navbar__icon.active {
    display: flex;
  }
}
